local.properties
*.apk
*.ap_
*.dex
*.class
.DS_Store
build
.gradle
gradle-app.setting
.idea/
*.iml
target
.settings
.classpath
.project
src/main/doc/ormlite.html
src/main/doc/ormlite.pdf
src/main/doc/ormlite
